.form-content {
    display: none;
}

.form-content.current {
    display: inherit;
}

p {
    font-weight: bold
}

.parsley-errors-list {
    list-style: none;
    color: red;
}

.btn-info,
.btn-success {
    margin-top: 10px;
    margin-bottom: 80px;
    display: block;
}

.form-navigation {
    padding-bottom: 120px;
}

#comprovante_isencao{
    display: none;
}

#grauParentesco {
    display: none;
}

#outrosInput {
    display: none;
}

#certidao_obito {
    display: none;
}

#comprovante {
    display: none;
}

.form_body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}